[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Fahrplan
Icon=harbour-fahrplan2
Exec=harbour-fahrplan2

[X-Sailjail]
OrganizationName=de.smurfy
ApplicationName=harbour-harbour-fahrplan2
Permissions=Internet;Location

