Source: fahrplan2
Section: x11
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 9.0.0),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5xmlpatterns5-dev,
               qtdeclarative5-qtlocation-plugin,
               libgles2-mesa-dev,
               zlib1g-dev,
Standards-Version: 3.9.3

Package: fahrplan2
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qt-components-ubuntu,
Description: A Journey planner/Railway Time table for many train lines in europe and australia.
 Current supported backends are bahn.de (germany and europe), sbb.ch (swiss),
 www.131500.com.au (nsw, australia), rejseplanen.dk (denmark), oebb.at (austria), reiseinfo.no (norway), VästTrafik (western sweden)
