[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Fahrplan
Exec=./fahrplan2
Icon=fahrplan2-square.svg
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
