[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Fahrplan
Keywords=travel;train;tram;bus;journey;
Exec=./bin/fahrplan2
Icon=fahrplan2-square.svg
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Splash-Color=#F5F5F5
X-Ubuntu-Supported-Orientations=portrait
