<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | Fahrplan</title>
        <link rel="stylesheet" type="text/css" href="/fahrplan/style.css">
    </head>

    <body>
        <div class="header">
            <div class="page-margin">
                <a href="/fahrplan/">
                    Fahrplan
                    <small>QT Application for Public transportation</small>
                </a>
            </div>

        </div>

        <div class="content page-margin">
            {{ content }}
        </div>
    </body>

</html>